.hero-banner {
  height: 80vh;
  background-image: url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?w=1200");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 10;
  padding-top: 70px; */
}

.hero-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  color: white;
  padding: 20px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 1.2rem;
  max-width: 700px;
  margin: auto;
  margin-bottom: 20px;
}

.hero-btn {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #ff9800;
  color: white;
}

.hero-btn:hover {
  background: #e68900;
}